<h1 class="col-start-1 col-end-3 mb-5">New Contact</h1>

<!--form_with is a rails helper method that creates a form for a model object.
form_with takes a model object and a url (where it will post the data) as arguments.
contacts_path is a rails helper method that returns the path for the contacts create action-->

<%= render 'form' %>
